---
interface Props {
  title: string;
  filmID: string;
  author?: string;
}

const { filmID, title, author } = Astro.props;
---

<a
  class="film-poster"
  href={`/films/${filmID}`}
  style={{ backgroundImage: `url(/posters/${filmID}.webp)` }}></a>

<style>
  .film-poster {
    display: block;
    width: 100%;
    aspect-ratio: 1/ 1.4;
    background-color: grey;
    background-size: cover;
    background-position: 50%;
    place-self: center;
    border-radius: 3px;
    border: 1px rgba(255, 255, 255, 0.1) solid;
    transition: all ease-out 0.2s;
  }

  .film-poster:hover {
    transform: scale(1.05);
  }
</style>
